
$color-main-first: #1bc2cc;
$color-main-second: #d56887;
$color-light: rgb(251, 251, 245);
$color-light-dark: #efefe0;
$color-dark: #3f3f3f;
$color-dark-extreme: #202020;
$color-dark-soft: #d568876b;
